@model IEnumerable<GigHub.Models.ApplicationUser>

@{
    ViewBag.Title = "Artists I'm Following";
}

<h1>Artists I'm Following</h1>
<ul class="voffset4">
    @foreach (var followee in Model)
    {
        <li>
            @followee.Name
        </li>
    }
</ul>
